.container {
	box-shadow: 0 5px 10px rgba(116, 119, 142, 0.1);
	background-color: rgba(248, 250, 252, 1.0);
	margin-bottom: 15px;

	.header {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		height: 70px;

		@media (max-width: 576px) {
			justify-content: space-between;
		}

		.menu {
			@media (max-width: 576px) {
				width: 100%;
				display: flex;
				justify-content: space-between;
			}

			a {
				color: #000;
				text-decoration: none;

				&:not(:last-child) {
					margin-right: 15px;
				}

				&:hover {
					color: blue;
				}
			}
		}
	}
}