.container {
	background-color: #fff;
	box-shadow: 0 0 20px rgba(116, 119, 142, .25);
}

.header {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 70px;
	background-color: #fff;
}
.logo {
	font-size: 18px;
	font-weight: 700;
}
.menu a:not(:last-child){
	margin-right: 15px;
}
.menu a {
	color: #000;
	text-decoration: none;
}
.menu a:hover {
	color: blue;
}

@media (max-width: 576px) {
	.header {
		justify-content: space-between;
	}
	.menu {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}