@import './global-styles/fonts.scss';
@import './global-styles/reset.scss';

.App {
	background-color: #fff;
}

.wrapper {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	box-sizing: border-box;
}

body {
	line-height: 1;
	@include DosisRegular();
}

@media (max-width: 576px) {
	.wrapper {
		padding-left: 10px;
		padding-right: 10px;
	}
}